services:
  spa:
    container_name: spa_container
    build:
      context: ..
      dockerfile: docker/Dockerfile
    env_file: 
      - .env-docker
    ports: 
      - 7777:8000
    command: ["/be_spa/docker/app.sh"]
    depends_on: 
      database: 
        condition: service_healthy  
  
  database: 
    image: postgres:16
    container_name: psql_container
    ports: 
      - 5555:5432
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: spy_agency
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    volumes: 
      - postgres:/var/lib/postgresql/data

volumes:
  postgres: